<a href="https://colab.research.google.com/github/y-patankar/StockMarket/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample DataFrame creation
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'open': [100, 105, 110],
    'high': [102, 107, 112],
    'low': [98, 103, 108],
    'close': [101, 106, 111]
}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert Date column to datetime

# Ensure DataFrame is sorted by Date
df.sort_values(by='Date', inplace=True)

# Shift rows to get previous day's values
df['prev_date'] = df['Date'].shift(1)
df['prev_open'] = df['open'].shift(1)
df['prev_high'] = df['high'].shift(1)
df['prev_low'] = df['low'].shift(1)
df['prev_close'] = df['close'].shift(1)

# Display the modified DataFrame
print(df)

        Date  open  high  low  close  prev_date  prev_open  prev_high  \
0 2024-01-01   100   102   98    101        NaT        NaN        NaN
1 2024-01-02   105   107  103    106 2024-01-01      100.0      102.0
2 2024-01-03   110   112  108    111 2024-01-02      105.0      107.0

   prev_low  prev_close
0       NaN         NaN
1      98.0       101.0
2     103.0       106.0

In [11]:
df

,Date,Price,Open,High,Low,date-1,open-1,high-1,low-1,close-1
0,12/31/2012,95.56,93.74,95.76,93.42,None,NaN,NaN,NaN,NaN
1,12/28/2012,93.86,94.05,94.75,93.83,12/31/2012,93.74,95.76,93.42,95.56
2,12/27/2012,94.78,95.36,95.55,94.02,12/28/2012,94.05,94.75,93.83,93.86
3,12/26/2012,95.52,96.08,96.50,94.97,12/27/2012,95.36,95.55,94.02,94.78
4,12/24/2012,96.25,95.94,96.74,95.61,12/26/2012,96.08,96.50,94.97,95.52
...,...,...,...,...,...,...,...,...,...,...
2764,01/08/2002,43.00,42.72,43.14,42.48,01/09/2002,43.02,43.07,42.53,42.73
2765,01/07/2002,42.71,43.11,43.35,42.44,01/08/2002,42.72,43.14,42.48,43.00
2766,01/04/2002,43.35,43.46,43.57,43.06,01/07/2002,43.11,43.35,42.44,42.71
2767,01/03/2002,43.40,42.94,43.55,42.61,01/04/2002,43.46,43.57,43.06,43.35
2768,01/02/2002,43.02,42.78,43.05,41.31,01/03/2002,42.94,43.55,42.61,43.40

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from pandas.tseries.offsets import BDay
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

In [33]:
df = pd.read_csv('COST Historical Data (02-12).csv')
df

            Date  Price   Open   High    Low     Vol. Change %
0     12/31/2012  95.56  93.74  95.76  93.42    2.41M    1.81%
1     12/28/2012  93.86  94.05  94.75  93.83    1.65M   -0.97%
2     12/27/2012  94.78  95.36  95.55  94.02    2.06M   -0.77%
3     12/26/2012  95.52  96.08  96.50  94.97    1.46M   -0.76%
4     12/24/2012  96.25  95.94  96.74  95.61  937.89K   -0.05%
...          ...    ...    ...    ...    ...      ...      ...
2764  01/08/2002  43.00  42.72  43.14  42.48    4.65M    0.68%
2765  01/07/2002  42.71  43.11  43.35  42.44    5.08M   -1.48%
2766  01/04/2002  43.35  43.46  43.57  43.06    4.13M   -0.12%
2767  01/03/2002  43.40  42.94  43.55  42.61    6.36M    0.88%
2768  01/02/2002  43.02  42.78  43.05  41.31    4.87M    0.14%

[2769 rows x 7 columns]

In [34]:
df.drop(columns=['Vol.','Change %'], inplace=True)
df

            Date  Price   Open   High    Low
0     12/31/2012  95.56  93.74  95.76  93.42
1     12/28/2012  93.86  94.05  94.75  93.83
2     12/27/2012  94.78  95.36  95.55  94.02
3     12/26/2012  95.52  96.08  96.50  94.97
4     12/24/2012  96.25  95.94  96.74  95.61
...          ...    ...    ...    ...    ...
2764  01/08/2002  43.00  42.72  43.14  42.48
2765  01/07/2002  42.71  43.11  43.35  42.44
2766  01/04/2002  43.35  43.46  43.57  43.06
2767  01/03/2002  43.40  42.94  43.55  42.61
2768  01/02/2002  43.02  42.78  43.05  41.31

[2769 rows x 5 columns]

In [35]:
df = df.iloc[::-1].reset_index(drop=True)
df

            Date  Price   Open   High    Low
0     01/02/2002  43.02  42.78  43.05  41.31
1     01/03/2002  43.40  42.94  43.55  42.61
2     01/04/2002  43.35  43.46  43.57  43.06
3     01/07/2002  42.71  43.11  43.35  42.44
4     01/08/2002  43.00  42.72  43.14  42.48
...          ...    ...    ...    ...    ...
2764  12/24/2012  96.25  95.94  96.74  95.61
2765  12/26/2012  95.52  96.08  96.50  94.97
2766  12/27/2012  94.78  95.36  95.55  94.02
2767  12/28/2012  93.86  94.05  94.75  93.83
2768  12/31/2012  95.56  93.74  95.76  93.42

[2769 rows x 5 columns]

In [36]:
df['date-1'] = df['Date'].shift(1)
df['open-1'] = df['Open'].shift(1)
df['high-1'] = df['High'].shift(1)
df['low-1'] = df['Low'].shift(1)
df['close-1'] = df['Price'].shift(1)

df['date-2'] = df['Date'].shift(2)
df['open-2'] = df['Open'].shift(2)
df['high-2'] = df['High'].shift(2)
df['low-2'] = df['Low'].shift(2)
df['close-2'] = df['Price'].shift(2)

df['date-3'] = df['Date'].shift(3)
df['open-3'] = df['Open'].shift(3)
df['high-3'] = df['High'].shift(3)
df['low-3'] = df['Low'].shift(3)
df['close-3'] = df['Price'].shift(3)

df['date-4'] = df['Date'].shift(4)
df['open-4'] = df['Open'].shift(4)
df['high-4'] = df['High'].shift(4)
df['low-4'] = df['Low'].shift(4)
df['close-4'] = df['Price'].shift(4)

df['date-5'] = df['Date'].shift(5)
df['open-5'] = df['Open'].shift(5)
df['high-5'] = df['High'].shift(5)
df['low-5'] = df['Low'].shift(5)
df['close-5'] = df['Price'].shift(5)

In [37]:
df

,Date,Price,Open,High,Low,date-1,open-1,high-1,low-1,close-1,...,date-4,open-4,high-4,low-4,close-4,date-5,open-5,high-5,low-5,close-5
0,01/02/2002,43.02,42.78,43.05,41.31,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
1,01/03/2002,43.40,42.94,43.55,42.61,01/02/2002,42.78,43.05,41.31,43.02,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
2,01/04/2002,43.35,43.46,43.57,43.06,01/03/2002,42.94,43.55,42.61,43.40,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
3,01/07/2002,42.71,43.11,43.35,42.44,01/04/2002,43.46,43.57,43.06,43.35,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
4,01/08/2002,43.00,42.72,43.14,42.48,01/07/2002,43.11,43.35,42.44,42.71,...,01/02/2002,42.78,43.05,41.31,43.02,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,12/24/2012,96.25,95.94,96.74,95.61,12/21/2012,95.27,96.36,94.51,96.30,...,12/18/2012,95.73,96.75,95.48,96.65,12/17/2012,93.90,95.73,93.89,95.61
2765,12/26/2012,95.52,96.08,96.50,94.97,12/24/2012,95.94,96.74,95.61,96.25,...,12/19/2012,96.30,97.01,95.48,95.52,12/18/2012,95.73,96.75,95.48,96.65
2766,12/27/2012,94.78,95.36,95.55,94.02,12/26/2012,96.08,96.50,94.97,95.52,...,12/20/2012,96.04,96.24,95.00,96.02,12/19/2012,96.30,97.01,95.48,95.52
2767,12/28/2012,93.86,94.05,94.75,93.83,12/27/2012,95.36,95.55,94.02,94.78,...,12/21/2012,95.27,96.36,94.51,96.30,12/20/2012,96.04,96.24,95.00,96.02
2768,12/31/2012,95.56,93.74,95.76,93.42,12/28/2012,94.05,94.75,93.83,93.86,...,12/24/2012,95.94,96.74,95.61,96.25,12/21/2012,95.27,96.36,94.51,96.30

In [38]:
print(df)

            Date  Price   Open   High    Low      date-1  open-1  high-1  \
0     01/02/2002  43.02  42.78  43.05  41.31        None     NaN     NaN
1     01/03/2002  43.40  42.94  43.55  42.61  01/02/2002   42.78   43.05
2     01/04/2002  43.35  43.46  43.57  43.06  01/03/2002   42.94   43.55
3     01/07/2002  42.71  43.11  43.35  42.44  01/04/2002   43.46   43.57
4     01/08/2002  43.00  42.72  43.14  42.48  01/07/2002   43.11   43.35
...          ...    ...    ...    ...    ...         ...     ...     ...
2764  12/24/2012  96.25  95.94  96.74  95.61  12/21/2012   95.27   96.36
2765  12/26/2012  95.52  96.08  96.50  94.97  12/24/2012   95.94   96.74
2766  12/27/2012  94.78  95.36  95.55  94.02  12/26/2012   96.08   96.50
2767  12/28/2012  93.86  94.05  94.75  93.83  12/27/2012   95.36   95.55
2768  12/31/2012  95.56  93.74  95.76  93.42  12/28/2012   94.05   94.75

      low-1  close-1  ...      date-4  open-4  high-4  low-4  close-4  \
0       NaN      NaN  ...        None     NaN     NaN    NaN      NaN
1     41.31    43.02  ...        None     NaN     NaN    NaN      NaN
2     42.61    43.40  ...        None     NaN     NaN    NaN      NaN
3     43.06    43.35  ...        None     NaN     NaN    NaN      NaN
4     42.44    42.71  ...  01/02/2002   42.78   43.05  41.31    43.02
...     ...      ...  ...         ...     ...     ...    ...      ...
2764  94.51    96.30  ...  12/18/2012   95.73   96.75  95.48    96.65
2765  95.61    96.25  ...  12/19/2012   96.30   97.01  95.48    95.52
2766  94.97    95.52  ...  12/20/2012   96.04   96.24  95.00    96.02
2767  94.02    94.78  ...  12/21/2012   95.27   96.36  94.51    96.30
2768  93.83    93.86  ...  12/24/2012   95.94   96.74  95.61    96.25

          date-5  open-5  high-5  low-5  close-5
0           None     NaN     NaN    NaN      NaN
1           None     NaN     NaN    NaN      NaN
2           None     NaN     NaN    NaN      NaN
3           None     NaN     NaN    NaN      NaN
4           None     NaN     NaN    NaN      NaN
...          ...     ...     ...    ...      ...
2764  12/17/2012   93.90   95.73  93.89    95.61
2765  12/18/2012   95.73   96.75  95.48    96.65
2766  12/19/2012   96.30   97.01  95.48    95.52
2767  12/20/2012   96.04   96.24  95.00    96.02
2768  12/21/2012   95.27   96.36  94.51    96.30

[2769 rows x 30 columns]

In [39]:
df.dropna(inplace=True)
df

,Date,Price,Open,High,Low,date-1,open-1,high-1,low-1,close-1,...,date-4,open-4,high-4,low-4,close-4,date-5,open-5,high-5,low-5,close-5
5,01/09/2002,42.73,43.02,43.07,42.53,01/08/2002,42.72,43.14,42.48,43.00,...,01/03/2002,42.94,43.55,42.61,43.40,01/02/2002,42.78,43.05,41.31,43.02
6,01/10/2002,43.27,43.12,43.36,42.88,01/09/2002,43.02,43.07,42.53,42.73,...,01/04/2002,43.46,43.57,43.06,43.35,01/03/2002,42.94,43.55,42.61,43.40
7,01/11/2002,42.29,43.27,43.30,41.91,01/10/2002,43.12,43.36,42.88,43.27,...,01/07/2002,43.11,43.35,42.44,42.71,01/04/2002,43.46,43.57,43.06,43.35
8,01/14/2002,41.71,42.10,42.64,41.62,01/11/2002,43.27,43.30,41.91,42.29,...,01/08/2002,42.72,43.14,42.48,43.00,01/07/2002,43.11,43.35,42.44,42.71
9,01/15/2002,41.47,41.81,42.12,41.36,01/14/2002,42.10,42.64,41.62,41.71,...,01/09/2002,43.02,43.07,42.53,42.73,01/08/2002,42.72,43.14,42.48,43.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,12/24/2012,96.25,95.94,96.74,95.61,12/21/2012,95.27,96.36,94.51,96.30,...,12/18/2012,95.73,96.75,95.48,96.65,12/17/2012,93.90,95.73,93.89,95.61
2765,12/26/2012,95.52,96.08,96.50,94.97,12/24/2012,95.94,96.74,95.61,96.25,...,12/19/2012,96.30,97.01,95.48,95.52,12/18/2012,95.73,96.75,95.48,96.65
2766,12/27/2012,94.78,95.36,95.55,94.02,12/26/2012,96.08,96.50,94.97,95.52,...,12/20/2012,96.04,96.24,95.00,96.02,12/19/2012,96.30,97.01,95.48,95.52
2767,12/28/2012,93.86,94.05,94.75,93.83,12/27/2012,95.36,95.55,94.02,94.78,...,12/21/2012,95.27,96.36,94.51,96.30,12/20/2012,96.04,96.24,95.00,96.02
2768,12/31/2012,95.56,93.74,95.76,93.42,12/28/2012,94.05,94.75,93.83,93.86,...,12/24/2012,95.94,96.74,95.61,96.25,12/21/2012,95.27,96.36,94.51,96.30

In [40]:
df_shuffled = df.sample(frac=1).reset_index(drop=True)
df_shuffled

,Date,Price,Open,High,Low,date-1,open-1,high-1,low-1,close-1,...,date-4,open-4,high-4,low-4,close-4,date-5,open-5,high-5,low-5,close-5
0,11/04/2002,32.76,33.66,33.67,32.67,11/01/2002,32.69,33.58,31.99,33.43,...,10/29/2002,33.78,34.35,32.71,33.86,10/28/2002,34.98,35.16,33.64,33.71
1,01/08/2010,57.38,57.56,57.70,57.20,01/07/2010,58.15,58.50,57.36,57.80,...,01/04/2010,57.23,58.14,57.23,57.50,12/31/2009,58.31,58.37,57.21,57.27
2,04/21/2008,66.89,66.82,67.15,66.06,04/18/2008,66.98,67.64,66.74,67.20,...,04/15/2008,63.26,63.76,62.89,63.61,04/14/2008,63.74,63.87,63.00,63.23
3,11/13/2008,48.37,47.08,48.38,43.84,11/12/2008,49.36,49.53,47.01,47.22,...,11/07/2008,52.14,52.67,51.19,52.34,11/06/2008,51.30,53.13,51.20,51.79
4,03/31/2010,57.80,58.13,58.18,57.77,03/30/2010,58.34,58.56,58.11,58.24,...,03/25/2010,58.48,58.48,58.09,58.12,03/24/2010,58.79,58.79,58.10,58.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,05/09/2003,34.17,34.11,34.22,33.72,05/08/2003,33.15,34.51,33.10,33.83,...,05/05/2003,33.74,33.79,33.15,33.16,05/02/2003,33.23,34.07,33.15,33.70
2760,12/03/2012,101.24,101.46,101.46,100.57,11/30/2012,99.19,101.15,98.40,100.59,...,11/27/2012,93.21,94.21,92.70,93.42,11/26/2012,94.24,94.40,92.76,93.17
2761,10/10/2002,31.17,28.78,31.60,27.83,10/09/2002,30.20,30.43,29.09,29.47,...,10/04/2002,30.49,30.87,29.21,30.28,10/03/2002,30.43,31.13,29.83,29.90
2762,05/16/2007,53.05,52.63,53.06,52.32,05/15/2007,53.09,53.41,52.34,52.47,...,05/10/2007,53.68,54.41,52.86,53.19,05/09/2007,52.83,53.38,52.70,53.18
2763,02/13/2008,63.57,63.10,63.74,62.58,02/12/2008,62.36,63.44,61.96,62.34,...,02/07/2008,62.26,63.29,61.28,62.67,02/06/2008,63.17,63.49,61.65,61.67

In [43]:
df_shuffled.to_csv('COST_Shuffled.csv', index=True)